    /*** ADMIN ***
    ***************/
    .admin{
        width: 100%;
        text-align: center;
    }
    .admin-menu .card-header{
        background-color: whitesmoke;
        text-decoration: none;
        color:inherit;
        color: white;
    }
    
    .admin-main{
        background-color: white;
        margin-left:5%;
    }

    /*** page UTILISATEURS ***
    *************************/
#titleUtilisateur{
    margin-left:40px;
}

/*** espace MEMBRE ***
*********************/
.avatarProfil{
    width: 35px;
}

.row{
    margin-right: 0px !important;
    margin-left:0px !important;
}

